<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/main.css}">
	</th:block>

	<!--	main フラグメントの定義（メインコンテンツ）	-->
	<div th:fragment="main"  th:object="${action}">
		<!--	タイトル表示	-->
		<div class="header border-bottom">
			<h1 class="h2">[[${title}]]</h1>
		</div>
		<!--	操作系表示	-->
		<!-- 操作系表示 -->
		<div class="flex-end margin_1em">
			<div class="name">
				 [[${page.table.section.text}]]
			</div>
			<div class="nav">
				<th:block th:each="button, status : ${page.menu}">
					<form th:id="'button' + ${status.index}" method="post" th:action="@{${req + button.url}}">
						<input type="hidden" name="date" th:value="${page.date.text}"/>
						<input type="hidden" name="section" th:value="${page.table.section.text}"/>
						<button th:form="'button' + ${status.index}" type="submit" class="btn btn-primary">
							[[${button.text}]]
						</button>
					</form>
				</th:block>
			</div>
		</div>
		<!-- メッセージ表示	-->
		<div class="flex">
			<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
		</div>

		<form id="select" method="post" th:action="@{${req} + '/InsertAction'}">
			<input type="hidden" name="date" th:value="${page.date.text}" />
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th th:each="column : ${page.table.columns}"
						 class="th-width" th:width="${column.value * 1.5} + '%'">
							[[${column.name}]]
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select name="${section}">
								<option th:each="option : ${typeList}"
								 th:selected="${option.name == page.table.section.value}">
									[[${option.name}]]
								</option >
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<button form="insert" type="submit" class="btn btn-primary">
				確定
			</button>
		</form>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>

</html>
