<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/list.css}">
	</th:block>

	<!-- main フラグメントの定義（メインコンテンツ） -->
	<div th:fragment="main">
		<!-- ヘッダー部分 -->
		<div class="header bg_skyblue">
			<!-- タイトル表示 -->
			<form id="title" th:action="@{${req + page.title.url}}" method="get">
				<input type="hidden" name="date" th:value="${page.date.text}"/>
				<button type="submit" class="btn-title">
					<h1 class="h2">[[${page.title.text}]]</h1>
				</button>
			</form>
			<!-- 日付表示 -->
			<div class="date">
				 <form id="date" th:action="@{${req + page.date.url}}" method="get">
					<input type="hidden" name="date" th:value="${page.date.text}"/>
					<input type="hidden" name="section" th:value="${page.table.section.text}"/>
					<button type="submit" class="btn_inherit">
						<h3 >
							[[${page.date.text}]]
						</h3>
					</button>
				</form>
			</div>
		</div>
		<!-- 本体部分 -->
		<div>
			<!-- 操作系表示 -->
			<div class="flex-end margin_1em">
				<div class="name">
					<form id="type" th:action="@{${req + '/ChangeType'}}" method="post">
						<input type="hidden" name="date" th:value="${page.date.text}"/>
						<input type="hidden" name="section" th:value="${page.table.section.text}"/>
						<input type="hidden" name="id" th:value="${type.id}"/>
						<button type="submit" class="btn_inherit">
							[[${type.name}]]
						</button>
					</form>
				</div>
				<div class="name">
					<form id="section" th:action="@{${req + page.table.section.url}}" method="get">
						<input type="hidden" name="date" th:value="${page.date.text}"/>
						<input type="hidden" name="section" th:value="${page.table.section.text}"/>
						<button type="submit" class="btn_inherit">
							[[${page.table.section.text}]]
						</button>
					</form>
				</div>
				<div class="nav">
					<th:block th:each="button, status : ${page.menu}">
						<form th:id="'button' + ${status.index}" method="post" th:action="@{${req + button.url}}">
							<input type="hidden" name="date" th:value="${page.date.text}"/>
							<input type="hidden" name="section" th:value="${page.table.section.text}"/>
							<button th:form="'button' + ${status.index}" type="submit" class="btn btn-primary">
								[[${button.text}]]
							</button>
						</form>
					</th:block>
				</div>
			</div>
			<!-- メッセージ表示	-->
			<div class="flex">
				<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
			</div>
			<!-- テーブル表示 -->
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th th:each="column, status : ${page.table.columns}"
						 class="th-width" th:width="${column.value * 1.5} + '%'">
							[[${column.name}]]
						</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${page.table.data.size() &gt; 0}">
						<th:block th:each="row, row_status : ${page.table.data}">
							<tr>
								<th:block th:each="value, col_status : ${row}" th:if="${col_status.index &gt; 0}">
									<th:block th:if="${value} != '0' and ${value} != ''">
										<td class="num3">
											<form th:id="'row' + ${row_status.index}" th:action="@{${req + row_url}}" method="post">
												<input type="hidden" name="date" th:value="${page.date.text}"/>
												<input type="hidden" name="section" th:value="${page.table.section.text}"/>
												<input type="hidden" name="id" th:value="${row[0]}"/>
												<button th:form="'row' + ${row_status.index}" type="submit" class="btn btn_inherit">
													[[${value}]]
												</button>
											</form>
										</td>
									</th:block>
									<th:block th:if="${value} == '0' or ${value} == ''">
										<td></td>
									</th:block>
								</th:block>
							</tr>
						</th:block>
					</th:block>
				</tbody>
			</table>
			<div class="right">
				入金計
				<div class="result num3  bg_skyblue">
					[[${sum_income}]]
				</div>
				 - 出金計
				<div class="result num3 bg_pink">
					 [[${sum_spending}]]
				</div>
				 = 収支
				<div class="result num3">
					 [[${total}]]
				</div>
			</div>
			<div class="right">
				繰り越し
				<div class="result num3  bg_lightgreen">
					[[${carryover}]]
				</div>
				 + 収支
				<div class="result num3">
					 [[${total}]]
				</div>
				 = 資産
				<div class="result num3 bg_yellow">
					 [[${asset}]]
				</div>
			</div>
		</div>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>

</html>
