<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/list.css}">
	</th:block>

	<!-- main フラグメントの定義（メインコンテンツ） -->
	<div th:fragment="main">
		<!-- ヘッダー部分 -->
		<div class="header bg_skyblue">
			<!-- タイトル表示 -->
			<form id="title" th:action="@{${req + page.title.url}}" method="get">
				<input type="hidden" name="date" th:value="${page.date.text}"/>
				<input type="hidden" name="section" th:value="${page.table.section.text}"/>
				<button type="submit" class="btn-title">
					<h1 class="h2">[[${page.title.text}]]</h1>
				</button>
			</form>
			<!-- 日付表示 -->
			<div class="date">
				<form id="date" th:action="@{${req + page.date.url}}" method="get">
					<input type="hidden" name="date" th:value="${page.date.text}"/>
					<input type="hidden" name="section" th:value="${page.table.section.text}"/>
					<button type="submit" class="btn_inherit">
						<h3>[[${page.date.text}]]</h3>
					</button>
				</form>
			</div>
		</div>
		<!-- 本体部分 -->
		<div>
			<!-- 操作系表示 -->
			<div class="flex-end margin_1em">
				<div class="name">
					<form id="section" th:action="@{${req + page.table.section.url}}" method="get">
						<input type="hidden" name="date" th:value="${page.date.text}"/>
						<input type="hidden" name="section" th:value="${page.table.section.text}"/>
						<button type="submit" class="btn_inherit">
							[[${page.table.section.text}]]
						</button>
					</form>
				</div>
				<div class="nav">
					<th:block th:each="button, status : ${page.menu}">
						<form th:id="'button' + ${status.index}" method="post" th:action="@{${req + button.url}}">
							<input type="hidden" name="date" th:value="${page.date.text}"/>
							<input type="hidden" name="section" th:value="${page.table.section.text}"/>
							<button th:form="'button' + ${status.index}" type="submit" class="btn btn-primary">
								[[${button.text}]]
							</button>
						</form>
					</th:block>
				</div>
			</div>
			<!-- 入力フォーム	-->
			<div class="form">
				年度を選択してください
				<form id="year" th:action="@{${req + '/Set/Year'}}" method="post">
					<input type="hidden" name="date" th:value="${page.date.text}"/>
					<input type="hidden" name="section" th:value="${page.table.section.text}"/>
					<select name="year">
						<option th:each="option : ${options}" th:selected="${option == selected_year}">
							[[${option}]]
						</option >
					</select>
						年
					<button type="submit" class="btn btn-primary">
						確定
					</button>
				</form>
			</div>
			<!-- メッセージ表示	-->
			<div class="flex">
				<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
			</div>
		</div>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>

</html>
